<%- include('../partials/header') -%>

<div id="phoneNumber">
    <p>Office Phone Number: 0874549357<br>Business Hours: 8:00am-6:30pm</p>
</div>

<div id="locationHolder">
    <img src="map.png" alt="Maplocation" id="map"/>
    <div id="location" >
        <h1>Office Location</h1>
        <p>We have a single office located in Dunboyne Industial Estate.</p>
    </div>
    <img src="office.png" alt="officePicture" id="office"/>
</div>






<%- include('../partials/footer') -%>