<%- include('../partials/header') -%>

<div id="eventsTop">
    <h1>Events Information</h1>
    <p>Sign up to our newsletter to find out more!<br><a href="/news">Click Here!</a></p>
</div>


<div id="eventHolder">
    <div class="eventContent" >
        <h1>Annual Finest Teas Event</h1>
        <p>We do have an annual event held during the summertime to get the best weather possible<br>It is open to all and has activies such as.<br>Tea shops,<br>Tea tasting,<br>Food trucks and<br>Open field for picinics</p>
    </div>
    
    <div class="eventContent" >
        <h1>Seasonal events</h1>
        <p>We host many events during each season<br>These events are more on the smaller scale and open to anyone<br>Dates are not definite sign up to the newsletter for more info.</p>
    </div>
</div>





<%- include('../partials/footer') -%>