<%- include('../partials/header') -%>
    
    <div class="topCon" >

        <img id="welcome" src="welcome.jpg" alt="welcome"/>

        <div id="content1" >
            <h1>About Us!</h1>
            <p>Here at Finest Tea Goods we are one of a kind online tea shop newspage and community ,offering information on the latest tea news, teas of the week and cover anything tea related. If you are new to premium teas or an expert then this community is the place for you.</p>
        </div>
    </div>

    <div class="backImg" >
        
    </div>

    <div id="reviews">
        <h1>Dont take our word for the tea,<br>Here are some reviews on tea shops sourced from this site!</h1>
        <a id="reviewButon" href="/reviewP">Click me to leave a review</a>
    </div>

    <div class="botCon" >
        
        <div id="quickLink" >
            <h1>Walter White</h1>
            <img src="walter.png" alt="walter" class="image"style="box-shadow: 10px 10px;"/>
            <p>Jesse, this tea shop—it’s not some cheap, mass-produced operation. Every blend, every sip—it’s pure craftsmanship. This isn’t just tea, Jesse. It’s an experience.</p>
        </div>
        <div id="quickLink" >
            <h1>Jesse Pinkman</h1>
            <img src="jesse.png" alt="jesse" class="image" style="box-shadow: 10px 10px;"/>
            <p>Yo, this tea shop is legit. Pure quality, none of that weak stuff. One sip, and boom—flavor</p>
        </div>
        <div id="quickLink" >
            <h1>Grandma</h1>
            <img src="grandma.png" alt="grandma" class="image" style="box-shadow: 10px 10px;"/>
            <p>This site has been easy to use even at my old age, The community is very welcoming for all ages.</p>
        </div>
        <div id="quickLink" >
            <h1>Pike</h1>
            <img src="pike.jpg" alt="pike" class="image" style="box-shadow: 10px 10px;"/>
            <p>Blub Blub.. Blub </p>
        </div>
    </div>
    

<%- include('../partials/footer') -%>