<%- include('../partials/header') -%>

    

        <div class="newsHolder" >
            <h1>SIGN UP TO OUR NEWSLETTER</h1>
            <div style="background-color: rgb(205, 172, 123);">
                <p>By signing up to our newsletter,<br>it ensures you are up-to-date and never missing out on the latest tea news and shops.<br>It opens a whole new world of tea and the community welcomes everyone with open arms.</p>
            </div>
        </div>

        <form>
            <div class="newsHolder" >
                <h1>Finest Tea Goods Newsletter!!</h1>
                <div id="newsForm">
                    <input class="filler" type="text" placeholder="First name" required>
                    <input class="filler" type="text" placeholder="Second Name" required>
                    <input class="filler" type="text" placeholder="Email" required>
                    <input class="filler" type="text" placeholder="Phone" required>
                </div>
                    <input class="filler2" type="submit" value="Submit" >
            </div>
        </form>
    

<%- include('../partials/footer') -%>